<a href="https://colab.research.google.com/github/mvhmxud/Decision-Tree-Regression-Furnature-Prices/blob/main/DT_Regression_Furniture_Price_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predecting Furnature Prices using Decision Tree Regression**

# Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

dataset = pd.read_csv('/content/drive/MyDrive/Furniture Price Prediction.csv')
dataset.head(5)

,furniture,type,url,rate,delivery,sale,price
0,Bed side table with storage shelf,Home Decor Center,https://www.jumia.com.eg//ar/home-decor-center...,3.3,172.14,72%,2500.0
1,Bed side table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,54%,1200.0
2,Modern Zigzag TV Table,Modern Home,https://www.jumia.com.eg//ar/generic-zigzag-tv...,0.0,172.14,18%,1099.0
3,Bedside table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,58%,1200.0
4,Wall Mounted TV Unit with Cabinet TV Stand Uni...,Modern Home,https://www.jumia.com.eg//ar/modern-home-wall-...,5.0,52.44,54%,1400.0

### **preprocessing**

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   furniture  2000 non-null   object
 1   type       2000 non-null   object
 2   url        2000 non-null   object
 3   rate       2000 non-null   float64
 4   delivery   2000 non-null   float64
 5   sale       2000 non-null   object
 6   price      1961 non-null   float64
dtypes: float64(3), object(4)
memory usage: 109.5+ KB

In [ ]:
# url  field isn't important for the training process so we can delete it 
dataset.drop('url' , axis=1)
dataset.head(5)

,furniture,type,url,rate,delivery,sale,price
0,Bed side table with storage shelf,Home Decor Center,https://www.jumia.com.eg//ar/home-decor-center...,3.3,172.14,72%,2500.0
1,Bed side table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,54%,1200.0
2,Modern Zigzag TV Table,Modern Home,https://www.jumia.com.eg//ar/generic-zigzag-tv...,0.0,172.14,18%,1099.0
3,Bedside table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,58%,1200.0
4,Wall Mounted TV Unit with Cabinet TV Stand Uni...,Modern Home,https://www.jumia.com.eg//ar/modern-home-wall-...,5.0,52.44,54%,1400.0

In [ ]:
# get the count of null values
dataset.isnull().sum()

furniture     0
type          0
url           0
rate          0
delivery      0
sale          0
price        39
dtype: int64

In [ ]:
# because there are few rows whose deta is missing so it's better to drop them 
dataset = dataset.dropna()

In [ ]:
# Transform sales column from string to float
dataset['sale'] = dataset['sale'].str.rstrip('%').astype('float') / 100.0
dataset.head(5)

,furniture,type,url,rate,delivery,sale,price
0,Bed side table with storage shelf,Home Decor Center,https://www.jumia.com.eg//ar/home-decor-center...,3.3,172.14,0.72,2500.0
1,Bed side table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,0.54,1200.0
2,Modern Zigzag TV Table,Modern Home,https://www.jumia.com.eg//ar/generic-zigzag-tv...,0.0,172.14,0.18,1099.0
3,Bedside table with storage shelf,Modern Home,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,0.58,1200.0
4,Wall Mounted TV Unit with Cabinet TV Stand Uni...,Modern Home,https://www.jumia.com.eg//ar/modern-home-wall-...,5.0,52.44,0.54,1400.0

In [ ]:
dataset.describe()

              rate     delivery         sale         price
count  1961.000000  1961.000000  1961.000000   1961.000000
mean      0.749567   141.282963     0.234431   2910.418195
std       1.618916   137.392050     0.208811   4002.917206
min       0.000000    10.830000     0.000000     13.400000
25%       0.000000    52.440000     0.000000    740.000000
50%       0.000000   172.140000     0.170000   1900.000000
75%       0.000000   172.140000     0.400000   4000.000000
max       5.000000  2409.900000     0.900000  55000.000000

In [ ]:
# defining input data and output data X , Y
y_col = 'price'
y = dataset[y_col]
X = dataset[dataset.columns.drop(y_col)]

In [ ]:
!pip install category_encoders

In [ ]:
from category_encoders import TargetEncoder
feature_cat = ["furniture", "type"]
target_encoder = TargetEncoder(cols=feature_cat)
data_temp = target_encoder.fit_transform(dataset[feature_cat],dataset["price"])

In [ ]:
dataset["furniture"] = data_temp["furniture"]
dataset["type"] = data_temp["type"]

In [ ]:
dataset.head(5)

,furniture,type,url,rate,delivery,sale,price
0,2574.128948,2847.022840,https://www.jumia.com.eg//ar/home-decor-center...,3.3,172.14,0.72,2500.0
1,2574.128948,2699.205224,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,0.54,1200.0
2,2386.826865,2699.205224,https://www.jumia.com.eg//ar/generic-zigzag-tv...,0.0,172.14,0.18,1099.0
3,2377.337947,2699.205224,https://www.jumia.com.eg//ar/modern-home-bedsi...,0.0,172.14,0.58,1200.0
4,2656.695707,2699.205224,https://www.jumia.com.eg//ar/modern-home-wall-...,5.0,52.44,0.54,1400.0

In [ ]:
dataset.drop('url' ,axis=1)

        furniture         type  rate  delivery  sale    price
0     2574.128948  2847.022840   3.3    172.14  0.72   2500.0
1     2574.128948  2699.205224   0.0    172.14  0.54   1200.0
2     2386.826865  2699.205224   0.0    172.14  0.18   1099.0
3     2377.337947  2699.205224   0.0    172.14  0.58   1200.0
4     2656.695707  2699.205224   5.0     52.44  0.54   1400.0
...           ...          ...   ...       ...   ...      ...
1995  2744.085154  2744.085154   0.0    656.28  0.00   1632.0
1996  4021.490155  7944.135893   0.0    172.14  0.00  11450.0
1997  2575.590360  1624.668981   0.0     52.44  0.00    550.0
1998  4511.148141  4928.389499   0.0    172.14  0.09   8495.0
1999  4533.050345  4928.389499   0.0    172.14  0.10  10775.0

[1961 rows x 6 columns]

### **Splitting the dataset into the Training set and Test set**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler

In [ ]:
X = dataset.drop("price", axis=1)
y = dataset["price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

ct = make_column_transformer(
    (MinMaxScaler(), ['furniture', 'type', 'rate', 'delivery', 'sale'])
)
ct.fit(X_train)

X_train = ct.transform(X_train)
X_test = ct.transform(X_test)

In [ ]:
X_train.shape

(1568, 5)

In [ ]:
y_train.shape

(1568,)

In [ ]:
X_test.shape

(393, 5)

In [ ]:
y_test.shape

(393,)

### **fitting the model**

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

regressor = DecisionTreeRegressor()
reg = regressor.fit(X_train, y_train)

### **Predection**

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
# Comparing the Real Values with Predicted Values
realValues = []
predectedValues = y_pred[0:10]
for x in range(0 , 10):
    realValues.append(y_test.values[x])

realValues

df = pd.DataFrame({'Real Values':realValues, 'Predicted Values':predectedValues})
df

   Real Values  Predicted Values
0        226.0             222.0
1       2238.0            3999.0
2        800.0             450.0
3         50.0              50.0
4       5142.0            6000.0
5       5200.0            5000.0
6       2000.0            1999.0
7       2420.0            2500.0
8      14900.0           14499.0
9        700.0             860.0

In [ ]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_pred), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, y_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))

Mean absolute error = 346.04
Mean squared error = 2015943.36
Median absolute error = 3.92
Explain variance score = 0.88
R2 score = 0.88